{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Welcome to Home</p>
    <a href="{% url 'teacher:Att' %}">AttendanceReport</a>
    <a href="{% url 'teacher:Assign' %}">Assignments</a>
    <a href="{% url 'teacher:HomeWork' %}">Homework</a>
    <a href="{% url 'teacher:ProgressCard' %}">ProgressCard</a>
    <a href="{% url 'teacher:Notice' %}">Notice</a>
    <a href="{% url 'teacher:Profile' %}">ProfileManagement</a>
    <img src="{% static 'images/images (3).jpg' %}">
    
</body>
</html>